<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <iframe
  width="700"
  height="500"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://localhost:8088/superset/dashboard/p/R2A8oanyv3l/"
>
</iframe>


 <iframe
  width="700"
  height="500"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://localhost:8088/superset/explore/p/ER4qedwk5gp/?standalone=1&height=400"
>
</iframe>


 <iframe
  width="500"
  height="500"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://localhost:8088/superset/explore/p/ER4qedwk5gp/?standalone=1&height=400"
>
</iframe>

<div>
  <a id="insightsLink" href="{% url 'home' %}">
    <button>back</button>
  </a>
</div>

</body>
</html>